[Unit]
Description=Run SSH IP Blocker every 5 minutes
Requires=ssh-ip-blocker.service

[Timer]
OnUnitActiveSec=5min
OnBootSec=5min
Persistent=true
Unit=ssh-ip-blocker.service

[Install]
WantedBy=timers.target
